{% load static %}
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo" style="margin: 0;">
                            <h1 href="{% url 'home' %}#">
                                Evaluatte.
                            </h1>
                            <p style="font-size: 18px; font-weight: 900;">
                                Karir anda dimulai dari sini
                            </p>
                        </div>
                        <p>Evaluatte merupakan agensi konsultasi yang hadir sebagai solusi atas permasalahan yang sering
                            dihadapi oleh para pencari kerja/fresh graduate dengan menghadirkan Talent Acquisition
                            perusahaan ternama di Indonesia sebagai konsultannya.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div>
                            <h2>Kontak</h2>
                            <div>
                                <div>
                                    <p style="margin: 0;">
                                        <b>Email</b>: <a
                                            href="mailto:teguh@evaluatte.com"><span>teguh@evaluatte.com</span></a>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <b>Telepon</b>:
                                        <br>
                                        <a><span>+62 813-1673-5289 - Merry</span></a>
                                        <br>
                                        <a><span>+62 821-2289-2469 - Brandon</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Lokasi</h2>
                            <p style="margin: 0;">
                                Bekasi, Indonesia.
                            </p>
                            <p>
                                JL. Kodau, PERUM KODAU V Blok K-12 No.3, RT 003 RW 002, Jatiasih, Kel. Jatimekar, Kec.
                                Jatiasih, Kota Bekasi, Jawa Barat 17422
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h2>Jadwal</h2>
                        <p>
                            <b>Buka</b>: Senin - Jumat
                            <br>
                            <b>Waktu</b>: 09.00 - 17.00
                            <br>
                            <b>Tutup</b>: Sabtu - Minggu
                        </p>
                    </div>
                    <div class="socail_links" style="margin: 0;">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/evaluattecom">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/evaluatte_com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCfmb7kcDMjW9lJpfADl132Q">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/evaluatte">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/@evaluatte_com?lang=en">
                                    <i class="fab fa-tiktok"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        Evaluatte.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>