{% load static %}
<header>
    <div class="header-area ">
        <div class="header-top_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5 ">
                        <div class="header_left">
                            <p>Welcome to Evaluatte consulting service</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="header_right d-flex">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> halo@evaluatte.com</a>
                                    </li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 1601-609 6780</a></li>
                                </ul>
                            </div>
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="/" style="color: white; font-size: 24px;">
                                    Evaluatte.
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">Beranda</a></li>
                                        <li><a href="{% url 'about' %}">Tentang</a></li>
                                        <li><a href="{% url 'services' %}">Layanan</a></li>
                                        <li><a href="{% url 'consultants' type='all' %}">Konsultan</a></li>
                                        <li><a href="{% url 'testimonials' %}">Testimoni</a></li>
                                        <li><a href="/">Blog</a></li>
                                        <li><a href="{% url 'contact' %}">Kontak</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div style="margin: 0;" class="book_btn d-none d-lg-block">
                                    <a href="#">Konsultasikan Sekarang!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
