{% load static %}
<header>
    <div class="header-area ">
        <div class="header-top_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5 ">
                        <div class="header_left">
                            <p>Selamat Datang di Evaluatte!</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="header_right d-flex">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="/"> <i class="fa fa-envelope"></i>halo@evaluatte.com</a>
                                    </li>
                                    <li>
                                        <a href="https://wa.wizard.id/9441e5" style="margin: 0;"> <i
                                                class="fa fa-phone"></i>+62 813-1673-5289</a>
                                        <a style="margin: 0;" href="">/</a>
                                        <a href="https://wa.wizard.id/b2ae3a"> <i class="fa fa-phone"></i>+62
                                            821-2289-2469</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social_media_links">
                                <a href="/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area" style="background: #1f1f1f;">
            <div class="container">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="/" style="color: white; font-size: 24px;">
                                    Evaluatte.
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a class="{% if request.resolver_match.url_name == "about" %}active{% endif %}"
                                               href="{% url 'about' %}">Tentang</a></li>
                                        <li>
                                            <a class="{% if request.resolver_match.url_name == "services" %}active{% endif %}"
                                               href="{% url 'services' %}">Layanan</a></li>
                                        <li>
                                            <a class="{% if request.resolver_match.url_name == "consultants" %}active{% endif %}"
                                               href="{% url 'consultants' type='all' %}">Konsultan</a></li>
                                        <li>
                                            <a class="{% if request.resolver_match.url_name == "testimonials" %}active{% endif %}"
                                               href="{% url 'testimonials' %}">Testimoni</a></li>
                                        <li>
                                            <a href="#">Info
                                                <i class="ti-angle-down"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="https://evaluatte.wordpress.com/">Blog</a>
                                                </li>
                                                <li>
                                                    <a class="{% if request.resolver_match.url_name == "jobs_companies" %}active{% endif %}"
                                                       href="{% url 'jobs_companies' %}">Lowongan</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="{% if request.resolver_match.url_name == "contact" %}active{% endif %}"
                                               href="{% url 'contact' %}">Kontak</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div style="margin: 0;" class="book_btn d-none d-lg-block">
                                    <a href="https://m.evaluatte.com/">Konsultasikan Sekarang!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
