<div class="count-down-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="single-counter text-center">
                    <span class="counter">1000</span>
                    <p>Pengguna telah puas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="single-counter text-center">
                    <span class="counter">10</span>
                    <p>Konsultan telah terdaftar</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="single-counter text-center">
                    <span class="counter">10</span>
                    <p>Variasi asal perusahaan konsultan</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="single-counter text-center">
                    <span class="counter">4.9</span>
                    <p>Rata-rating dari user</p>
                </div>
            </div>
        </div>
    </div>
</div>