/.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Generated static files
/staticfiles/

# Settings
/app/settings/__init__.py
/app/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
/app/staticfiles/admin/css/vendor/select2/select2.css
/app/staticfiles/admin/css/vendor/select2/select2.min.css
/app/staticfiles/admin/css/autocomplete.css
/app/staticfiles/admin/css/base.css
/app/staticfiles/admin/css/changelists.css
/app/staticfiles/admin/css/dashboard.css
/app/staticfiles/admin/css/fonts.css
/app/staticfiles/admin/css/forms.css
/app/staticfiles/admin/css/login.css
/app/staticfiles/admin/css/nav_sidebar.css
/app/staticfiles/admin/css/responsive.css
/app/staticfiles/admin/css/responsive_rtl.css
/app/staticfiles/admin/css/rtl.css
/app/staticfiles/admin/css/widgets.css
/app/staticfiles/admin/fonts/LICENSE.txt
/app/staticfiles/admin/fonts/README.txt
/app/staticfiles/admin/fonts/Roboto-Bold-webfont.woff
/app/staticfiles/admin/fonts/Roboto-Light-webfont.woff
/app/staticfiles/admin/fonts/Roboto-Regular-webfont.woff
/app/staticfiles/admin/img/gis/move_vertex_off.svg
/app/staticfiles/admin/img/gis/move_vertex_on.svg
/app/staticfiles/admin/img/calendar-icons.svg
/app/staticfiles/admin/img/icon-addlink.svg
/app/staticfiles/admin/img/icon-alert.svg
/app/staticfiles/admin/img/icon-calendar.svg
/app/staticfiles/admin/img/icon-changelink.svg
/app/staticfiles/admin/img/icon-clock.svg
/app/staticfiles/admin/img/icon-deletelink.svg
/app/staticfiles/admin/img/icon-no.svg
/app/staticfiles/admin/img/icon-unknown.svg
/app/staticfiles/admin/img/icon-unknown-alt.svg
/app/staticfiles/admin/img/icon-viewlink.svg
/app/staticfiles/admin/img/icon-yes.svg
/app/staticfiles/admin/img/inline-delete.svg
/app/staticfiles/admin/img/LICENSE
/app/staticfiles/admin/img/README.txt
/app/staticfiles/admin/img/search.svg
/app/staticfiles/admin/img/selector-icons.svg
/app/staticfiles/admin/img/sorting-icons.svg
/app/staticfiles/admin/img/tooltag-add.svg
/app/staticfiles/admin/img/tooltag-arrowright.svg
/app/staticfiles/admin/js/admin/DateTimeShortcuts.js
/app/staticfiles/admin/js/admin/RelatedObjectLookups.js
/app/staticfiles/admin/js/vendor/jquery/jquery.js
/app/staticfiles/admin/js/vendor/jquery/jquery.min.js
/app/staticfiles/admin/js/vendor/jquery/LICENSE.txt
/app/staticfiles/admin/js/vendor/select2/i18n/af.js
/app/staticfiles/admin/js/vendor/select2/i18n/ar.js
/app/staticfiles/admin/js/vendor/select2/i18n/az.js
/app/staticfiles/admin/js/vendor/select2/i18n/bg.js
/app/staticfiles/admin/js/vendor/select2/i18n/bn.js
/app/staticfiles/admin/js/vendor/select2/i18n/bs.js
/app/staticfiles/admin/js/vendor/select2/i18n/ca.js
/app/staticfiles/admin/js/vendor/select2/i18n/cs.js
/app/staticfiles/admin/js/vendor/select2/i18n/da.js
/app/staticfiles/admin/js/vendor/select2/i18n/de.js
/app/staticfiles/admin/js/vendor/select2/i18n/dsb.js
/app/staticfiles/admin/js/vendor/select2/i18n/el.js
/app/staticfiles/admin/js/vendor/select2/i18n/en.js
/app/staticfiles/admin/js/vendor/select2/i18n/es.js
/app/staticfiles/admin/js/vendor/select2/i18n/et.js
/app/staticfiles/admin/js/vendor/select2/i18n/eu.js
/app/staticfiles/admin/js/vendor/select2/i18n/fa.js
/app/staticfiles/admin/js/vendor/select2/i18n/fi.js
/app/staticfiles/admin/js/vendor/select2/i18n/fr.js
/app/staticfiles/admin/js/vendor/select2/i18n/gl.js
/app/staticfiles/admin/js/vendor/select2/i18n/he.js
/app/staticfiles/admin/js/vendor/select2/i18n/hi.js
/app/staticfiles/admin/js/vendor/select2/i18n/hr.js
/app/staticfiles/admin/js/vendor/select2/i18n/hsb.js
/app/staticfiles/admin/js/vendor/select2/i18n/hu.js
/app/staticfiles/admin/js/vendor/select2/i18n/hy.js
/app/staticfiles/admin/js/vendor/select2/i18n/id.js
/app/staticfiles/admin/js/vendor/select2/i18n/is.js
/app/staticfiles/admin/js/vendor/select2/i18n/it.js
/app/staticfiles/admin/js/vendor/select2/i18n/ja.js
/app/staticfiles/admin/js/vendor/select2/i18n/ka.js
/app/staticfiles/admin/js/vendor/select2/i18n/km.js
/app/staticfiles/admin/js/vendor/select2/i18n/ko.js
/app/staticfiles/admin/js/vendor/select2/i18n/lt.js
/app/staticfiles/admin/js/vendor/select2/i18n/lv.js
/app/staticfiles/admin/js/vendor/select2/i18n/mk.js
/app/staticfiles/admin/js/vendor/select2/i18n/ms.js
/app/staticfiles/admin/js/vendor/select2/i18n/nb.js
/app/staticfiles/admin/js/vendor/select2/i18n/ne.js
/app/staticfiles/admin/js/vendor/select2/i18n/nl.js
/app/staticfiles/admin/js/vendor/select2/i18n/pl.js
/app/staticfiles/admin/js/vendor/select2/i18n/ps.js
/app/staticfiles/admin/js/vendor/select2/i18n/pt.js
/app/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
/app/staticfiles/admin/js/vendor/select2/i18n/ro.js
/app/staticfiles/admin/js/vendor/select2/i18n/ru.js
/app/staticfiles/admin/js/vendor/select2/i18n/sk.js
/app/staticfiles/admin/js/vendor/select2/i18n/sl.js
/app/staticfiles/admin/js/vendor/select2/i18n/sq.js
/app/staticfiles/admin/js/vendor/select2/i18n/sr.js
/app/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
/app/staticfiles/admin/js/vendor/select2/i18n/sv.js
/app/staticfiles/admin/js/vendor/select2/i18n/th.js
/app/staticfiles/admin/js/vendor/select2/i18n/tk.js
/app/staticfiles/admin/js/vendor/select2/i18n/tr.js
/app/staticfiles/admin/js/vendor/select2/i18n/uk.js
/app/staticfiles/admin/js/vendor/select2/i18n/vi.js
/app/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
/app/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
/app/staticfiles/admin/js/vendor/select2/LICENSE.md
/app/staticfiles/admin/js/vendor/select2/select2.full.js
/app/staticfiles/admin/js/vendor/select2/select2.full.min.js
/app/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
/app/staticfiles/admin/js/vendor/xregexp/xregexp.js
/app/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
/app/staticfiles/admin/js/actions.js
/app/staticfiles/admin/js/actions.min.js
/app/staticfiles/admin/js/autocomplete.js
/app/staticfiles/admin/js/calendar.js
/app/staticfiles/admin/js/cancel.js
/app/staticfiles/admin/js/change_form.js
/app/staticfiles/admin/js/collapse.js
/app/staticfiles/admin/js/collapse.min.js
/app/staticfiles/admin/js/core.js
/app/staticfiles/admin/js/inlines.js
/app/staticfiles/admin/js/inlines.min.js
/app/staticfiles/admin/js/jquery.init.js
/app/staticfiles/admin/js/nav_sidebar.js
/app/staticfiles/admin/js/popup_response.js
/app/staticfiles/admin/js/prepopulate.js
/app/staticfiles/admin/js/prepopulate.min.js
/app/staticfiles/admin/js/prepopulate_init.js
/app/staticfiles/admin/js/SelectBox.js
/app/staticfiles/admin/js/SelectFilter2.js
/app/staticfiles/admin/js/urlify.js
/app/staticfiles/css/flaticon.css
/app/staticfiles/css/gijgo.css
/app/staticfiles/css/slick.css
/app/staticfiles/css/slicknav.css
/app/staticfiles/css/style.css
/app/staticfiles/css/themify-icons.css
/app/staticfiles/debug_toolbar/css/print.css
/app/staticfiles/debug_toolbar/css/toolbar.css
/app/staticfiles/debug_toolbar/img/ajax-loader.gif
/app/staticfiles/debug_toolbar/img/indicator.png
/app/staticfiles/debug_toolbar/js/history.js
/app/staticfiles/debug_toolbar/js/redirect.js
/app/staticfiles/debug_toolbar/js/timer.js
/app/staticfiles/debug_toolbar/js/toolbar.js
/app/staticfiles/debug_toolbar/js/toolbar.timer.js
/app/staticfiles/debug_toolbar/js/utils.js
/app/staticfiles/drf-yasg/redoc/redoc.min.js
/app/staticfiles/drf-yasg/redoc/redoc-logo.png
/app/staticfiles/drf-yasg/redoc-old/redoc.min.js
/app/staticfiles/drf-yasg/swagger-ui-dist/absolute-path.js
/app/staticfiles/drf-yasg/swagger-ui-dist/favicon-32x32.png
/app/staticfiles/drf-yasg/swagger-ui-dist/index.js
/app/staticfiles/drf-yasg/swagger-ui-dist/oauth2-redirect.html
/app/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui.css
/app/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-bundle.js
/app/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle.js
/app/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-es-bundle-core.js
/app/staticfiles/drf-yasg/swagger-ui-dist/swagger-ui-standalone-preset.js
/app/staticfiles/drf-yasg/immutable.min.js
/app/staticfiles/drf-yasg/insQ.min.js
/app/staticfiles/drf-yasg/redoc-init.js
/app/staticfiles/drf-yasg/style.css
/app/staticfiles/drf-yasg/swagger-ui-init.js
/app/staticfiles/drf-yasg/url-polyfill.min.js
/app/staticfiles/fonts/Flaticon.eot
/app/staticfiles/fonts/Flaticon.svg
/app/staticfiles/fonts/Flaticon.ttf
/app/staticfiles/fonts/Flaticon.woff
/app/staticfiles/fonts/Flaticon.woff2
/app/staticfiles/fonts/gijgo-material.eot
/app/staticfiles/fonts/gijgo-material.svg
/app/staticfiles/fonts/gijgo-material.ttf
/app/staticfiles/fonts/gijgo-material.woff
/app/staticfiles/fonts/themify.eot
/app/staticfiles/fonts/themify.svg
/app/staticfiles/fonts/themify.ttf
/app/staticfiles/fonts/themify.woff
/app/staticfiles/img/about/counter.png
/app/staticfiles/img/banner/accordion.png
/app/staticfiles/img/banner/banner.png
/app/staticfiles/img/banner/banner_2.png
/app/staticfiles/img/banner/bradcam.png
/app/staticfiles/img/banner/contact_thumb.png
/app/staticfiles/img/banner/info_banner.png
/app/staticfiles/img/banner/testmonial.png
/app/staticfiles/img/blog/author.png
/app/staticfiles/img/blog/single_blog_1.png
/app/staticfiles/img/blog/single_blog_2.png
/app/staticfiles/img/blog/single_blog_3.png
/app/staticfiles/img/blog/single_blog_4.png
/app/staticfiles/img/blog/single_blog_5.png
/app/staticfiles/img/case/1.png
/app/staticfiles/img/case/2.png
/app/staticfiles/img/case/3.png
/app/staticfiles/img/case/4.png
/app/staticfiles/img/case/5.png
/app/staticfiles/img/case/6.png
/app/staticfiles/img/case/7.png
/app/staticfiles/img/case/8.png
/app/staticfiles/img/case/9.png
/app/staticfiles/img/case/img.png
/app/staticfiles/img/case/testmonial.png
/app/staticfiles/img/comment/comment_1.png
/app/staticfiles/img/comment/comment_2.png
/app/staticfiles/img/comment/comment_3.png
/app/staticfiles/img/elements/d.jpg
/app/staticfiles/img/elements/disabled-check.png
/app/staticfiles/img/elements/disabled-radio.png
/app/staticfiles/img/elements/f1.jpg
/app/staticfiles/img/elements/f2.jpg
/app/staticfiles/img/elements/f3.jpg
/app/staticfiles/img/elements/f4.jpg
/app/staticfiles/img/elements/f5.jpg
/app/staticfiles/img/elements/f6.jpg
/app/staticfiles/img/elements/f7.jpg
/app/staticfiles/img/elements/f8.jpg
/app/staticfiles/img/elements/g1.jpg
/app/staticfiles/img/elements/g2.jpg
/app/staticfiles/img/elements/g3.jpg
/app/staticfiles/img/elements/g4.jpg
/app/staticfiles/img/elements/g5.jpg
/app/staticfiles/img/elements/g6.jpg
/app/staticfiles/img/elements/g7.jpg
/app/staticfiles/img/elements/g8.jpg
/app/staticfiles/img/elements/primary-check.png
/app/staticfiles/img/elements/primary-radio.png
/app/staticfiles/img/elements/success-check.png
/app/staticfiles/img/elements/success-radio.png
/app/staticfiles/img/post/next.png
/app/staticfiles/img/post/post_1.png
/app/staticfiles/img/post/post_2.png
/app/staticfiles/img/post/post_3.png
/app/staticfiles/img/post/post_4.png
/app/staticfiles/img/post/post_5.png
/app/staticfiles/img/post/post_6.png
/app/staticfiles/img/post/post_7.png
/app/staticfiles/img/post/post_8.png
/app/staticfiles/img/post/post_9.png
/app/staticfiles/img/post/post_10.png
/app/staticfiles/img/post/preview.png
/app/staticfiles/img/service/about.png
/app/staticfiles/img/svg_icon/1.svg
/app/staticfiles/img/svg_icon/2.svg
/app/staticfiles/img/svg_icon/3.svg
/app/staticfiles/img/svg_icon/4.svg
/app/staticfiles/img/svg_icon/5.svg
/app/staticfiles/img/svg_icon/6.svg
/app/staticfiles/img/svg_icon/building.svg
/app/staticfiles/img/svg_icon/cart.svg
/app/staticfiles/img/svg_icon/group.svg
/app/staticfiles/img/svg_icon/heart.svg
/app/staticfiles/img/svg_icon/quote.svg
/app/staticfiles/img/svg_icon/respect.svg
/app/staticfiles/img/svg_icon/star.svg
/app/staticfiles/img/team/1.png
/app/staticfiles/img/team/2.png
/app/staticfiles/img/team/3.png
/app/staticfiles/img/ev.png
/app/staticfiles/js/vendor/jquery-1.12.4.min.js
/app/staticfiles/js/vendor/modernizr-3.5.0.min.js
/app/staticfiles/js/ajax-form.js
/app/staticfiles/js/bootstrap.min.js
/app/staticfiles/js/contact.js
/app/staticfiles/js/gijgo.min.js
/app/staticfiles/js/imagesloaded.pkgd.min.js
/app/staticfiles/js/isotope.pkgd.min.js
/app/staticfiles/js/jquery.ajaxchimp.min.js
/app/staticfiles/js/jquery.counterup.min.js
/app/staticfiles/js/jquery.form.js
/app/staticfiles/js/jquery.magnific-popup.min.js
/app/staticfiles/js/jquery.scrollUp.min.js
/app/staticfiles/js/jquery.slicknav.min.js
/app/staticfiles/js/jquery.validate.min.js
/app/staticfiles/js/mail-script.js
/app/staticfiles/js/main.js
/app/staticfiles/js/nice-select.min.js
/app/staticfiles/js/owl.carousel.min.js
/app/staticfiles/js/plugins.js
/app/staticfiles/js/popper.min.js
/app/staticfiles/js/scrollIt.js
/app/staticfiles/js/slick.min.js
/app/staticfiles/js/waypoints.min.js
/app/staticfiles/js/wow.min.js
/app/staticfiles/rest_framework/css/bootstrap.min.css
/app/staticfiles/rest_framework/css/bootstrap-theme.min.css
/app/staticfiles/rest_framework/css/bootstrap-tweaks.css
/app/staticfiles/rest_framework/css/default.css
/app/staticfiles/rest_framework/css/font-awesome-4.0.3.css
/app/staticfiles/rest_framework/css/prettify.css
/app/staticfiles/rest_framework/docs/css/base.css
/app/staticfiles/rest_framework/docs/css/highlight.css
/app/staticfiles/rest_framework/docs/css/jquery.json-view.min.css
/app/staticfiles/rest_framework/docs/img/favicon.ico
/app/staticfiles/rest_framework/docs/img/grid.png
/app/staticfiles/rest_framework/docs/js/api.js
/app/staticfiles/rest_framework/docs/js/highlight.pack.js
/app/staticfiles/rest_framework/docs/js/jquery.json-view.min.js
/app/staticfiles/rest_framework/fonts/fontawesome-webfont.eot
/app/staticfiles/rest_framework/fonts/fontawesome-webfont.svg
/app/staticfiles/rest_framework/fonts/fontawesome-webfont.ttf
/app/staticfiles/rest_framework/fonts/fontawesome-webfont.woff
/app/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.eot
/app/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.svg
/app/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.ttf
/app/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff
/app/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff2
/app/staticfiles/rest_framework/img/glyphicons-halflings.png
/app/staticfiles/rest_framework/img/glyphicons-halflings-white.png
/app/staticfiles/rest_framework/img/grid.png
/app/staticfiles/rest_framework/js/ajax-form.js
/app/staticfiles/rest_framework/js/bootstrap.min.js
/app/staticfiles/rest_framework/js/coreapi-0.1.1.js
/app/staticfiles/rest_framework/js/csrf.js
/app/staticfiles/rest_framework/js/default.js
/app/staticfiles/rest_framework/js/jquery-3.5.1.min.js
/app/staticfiles/rest_framework/js/prettify-min.js
