[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django-debug-toolbar = "*"
Markdown = "*"
drf-yasg = "*"
djangorestframework-api-key = "==2.*"
boto3 = "*"
django-storages = "*"
midtransclient = "*"

[dev-packages]

[requires]
python_version = "3.8"
