{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <style>
        #sticky-header {
            background: #001D38;
        }

        @media (max-width: 576px) {
            .service-img {
                min-height: 300px;
                margin-bottom: 40px;
            }
        }
    </style>
    <div class="case_details_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-6 col-12 service-img"
                         style="background-image: url(https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/konsultasi+cv+-+klik-min.png); background-size: cover;">
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="col-xl-12">
                            <div class="details_title" style="margin-bottom: 20px;">
                                <h3>{{ product.name }}</h3>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="details_main_wrap" style="margin-bottom: 20px;">
                                <ul class="unordered-list about_text" style="
                                    text-align: justify;
                                    min-width: 100%;
                                ">
                                    {% for product_item in product.items_as_list %}
                                        <li>{{ product_item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <p style="min-width: 100%; text-align: justify; color: #212529; font-weight: normal;">
                                    {{ product.description }}
                                </p>
                            </div>
                            <a href="{{ product.link_to_product }}" class="boxed-btn3">Konsultasikan Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}