{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <style>
        #sticky-header {
            background: #001D38;
        }
    </style>
    <div class="case_details_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-6 col-12"
                         style="background-image: url({% static 'img/case/img.png' %})">
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="col-xl-12">
                            <div class="details_title" style="margin-bottom: 20px;">
                                <h3>Konsultasi Interview</h3>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="details_main_wrap" style="margin-bottom: 20px;">
                                <ul class="unordered-list about_text" style="
                                    text-align: justify;
                                    min-width: 100%;
                                ">
                                    <li>Rahasia teknik interview langsung dengan Talent Acquisition perusahaan</li>
                                    <li>Pengetahuan tentang interview</li>
                                    <li>Praktik wawancara langsung dengan Talent Acquisition perusahaan ternama</li>
                                    <li>Menambah relasi baru dengan Talent Acquisition perusahaan</li>
                                    <li>Resume hasil konsultasi Interview</li>
                                    <li>Kesempatan direkrut langsung oleh Talent Acquisition perusahaan</li>
                                </ul>
                            </div>
                            <div>
                                <p style="min-width: 100%; text-align: justify; color: #212529; font-weight: normal;">
                                    Di sini kamu akan berkonsultasi langsung dengan Talent Acquisition perusahaan yang
                                    sudah berpengalaman dalam melakukan Interview dengan berbagai kandidat, mulai dari
                                    level Officer sampai level Senior Manager, sehingga kamu akan tahu hal - hal apa
                                    saja yang harus kamu persiapkan untuk Interview
                                </p>
                            </div>
                            <a href="#" class="boxed-btn3">Konsultasikan Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>>
{% endblock %}