{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <style>
        #sticky-header {
            background: #001D38;
        }

        @media (max-width: 576px) {
            .service-img {
                min-height: 300px;
                margin-bottom: 40px;
            }
        }
    </style>
    <div class="case_details_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-6 col-12 service-img"
                         style="background-image: url(https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/konsultasi+cv+-+klik-min.png); background-size: cover;">
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="col-xl-12">
                            <div class="details_title" style="margin-bottom: 20px;">
                                <h3>Konsultasi CV</h3>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="details_main_wrap" style="margin-bottom: 20px;">
                                <ul class="unordered-list about_text" style="
                                    text-align: justify;
                                    min-width: 100%;
                                ">
                                    <li>Rahasia CV super lolos screening (berdasarkan perusahaan konsultan)</li>
                                    <li>Pengetahuan tentang CV (with case)</li>
                                    <li>Pengetahuan sistem kerja ATS</li>
                                    <li>Template CV super</li>
                                    <li>Resume hasil konsultasi CV</li>
                                    <li>Kesempatan direkrut langsung oleh Talent Acquisition</li>
                                </ul>
                            </div>
                            <div>
                                <p style="min-width: 100%; text-align: justify; color: #212529; font-weight: normal;">Di
                                    sini kamu akan berkonsultasi langsung dengan Talent Acquisition perusahaan yang
                                    sudah berpengalaman dalam melakukan screening CV, sehingga kamu akan tahu hal - hal
                                    apa saja yang membuat CV kamu lolos screening.</p>
                            </div>
                            <a href="https://m.evaluatte.com/" class="boxed-btn3">Konsultasikan Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}