{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <style>
        #sticky-header {
            background: #001D38;
        }
    </style>
    <div class="case_details_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="details_title">
                            <span>Finance Solution</span>
                            <h3>Consumer Products Consulting</h3>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="case_thumb">
                            <img src="{% static 'img/case/img.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="details_main_wrap">
                            <p class="details_info">
                                “Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.
                                Fusce ac mattis nulla. Morbi eget ornare dui.
                            </p>
                            <div class="single_details">
                                <span>Problem</span>
                                <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture
                                    placing drawing. Apartments frequently or motionless on reasonable sed do eiusmod
                                    tempor
                                    inciunt ut labore et dolore magna liqua.abore et dolore incididunt ut labore et
                                    dolore
                                    magna liqua abore et dolore</p>
                            </div>
                            <div class="single_details">
                                <span>Solution</span>
                                <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture
                                    placing drawing. Apartments frequently or motionless on reasonable sed do eiusmod
                                    tempor
                                    inciunt ut labore et dolore magna liqua.abore et dolore incididunt ut labore et
                                    dolore
                                    magna liqua abore et dolore</p>
                            </div>
                            <div class="single_details">
                                <span>Result</span>
                                <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture
                                    placing drawing. Apartments frequently or motionless on reasonable sed do eiusmod
                                    tempor
                                    inciunt ut labore et dolore magna liqua.abore et dolore incididunt ut labore et
                                    dolore
                                    magna liqua abore et dolore</p>
                            </div>
                            <div class="single_details mb-60">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-facebook"></i> Facebook </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-twitter"></i> Twitter </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-pinterest-p"></i> Pinterest </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="case_study_area case_page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-40">
                        <h3>Related Cases</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_case">
                        <div class="case_thumb">
                            <img src="{% static 'img/case/1.png' %}" alt="">
                        </div>
                        <div class="case_heading">
                            <span>Finance Solution</span>
                            <h3><a href="#">Consumer Products Consulting</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_case">
                        <div class="case_thumb">
                            <img src="{% static 'img/case/2.png' %}" alt="">
                        </div>
                        <div class="case_heading">
                            <span>Finance Solution</span>
                            <h3><a href="#">Consumer Products Consulting</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_case">
                        <div class="case_thumb">
                            <img src="{% static 'img/case/3.png' %}" alt="">
                        </div>
                        <div class="case_heading">
                            <span>Finance Solution</span>
                            <h3><a href="#">Consumer Products Consulting</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>For Any Information Call Us</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a class="boxed-btn3" href="#">+10 673 763 6786</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}