{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        #about-root {
            background: #FFFFFF;
            margin: 5% 0 5% 0;
        }

        #about-title {
            margin: 0 0 5% 0;
        }
    </style>
    <div id="about-root" class="home-blog-area">
        <div class="container">
            <div id="about-title" class="row">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2>TENTANG KAMI</h2>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}