<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Evaluatte. - Karir Anda
        dimulai dari sini.</title>
    <meta name="description" content='Menyediakan jasa konsultasi bagi para
                                    pencari kerja dengan menyiapkan Super CV dan Rahasia Teknik Interview langsung
    dengan HR-nya'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="manifest" href="site.webmanifest">-->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/ev.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha512-iQQV+nXtBlmS3XiDrtmL+9/Z+ibux+YuowJjI4rcpO7NYgTzfTOiFNm09kWtfZzEB9fQ6TwOVc8lFVWooFuD/w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
          integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="body-bg">

<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo-black.webp" alt="">
            </div>
        </div>
    </div>
</div>
<header>

    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img src="assets/img/logo/logo-white.webp" style="width: 200px;" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">

                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul class="navigation">
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="/">Tentang</a></li>
                                            <li><a href="/">Layanan</a></li>
                                            <li><a href="/">Inspirasi</a></li>
                                            <li><a href="/">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<main>

    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" style="background: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-12 hero__caption">
                            <h1 id="career-start" data-animation="fadeInLeft" data-delay=".5s"
                                style="text-align: center !important; color: #FFFFFF !important;">Karir Anda
                                dimulai dari sini.</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider slider-height d-flex align-items-center"
                 style="background: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 col-md-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".5s" style="color: #FFFFFF !important;">Kami
                                    membantu mengurangi jumlah
                                    pengangguran
                                    di Indonesia</h1>
                                <p data-animation="fadeInLeft" data-delay=".9s" style="color: #FFFFFF !important;">
                                    Menyediakan jasa konsultasi bagi para
                                    pencari kerja dengan menyiapkan "Super CV" dan "Rahasia Teknik Interview" langsung
                                    dengan HR-nya</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider slider-height d-flex align-items-center" style="background: black;">
                <div class="container">
                    <div class="row" style="background: #fcec44; color: #FFFFFF; padding: 5% 10%;">
                        <div class="col-lg-9 col-12 hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Tidak bisa dipungkiri bahwa persaingan
                                mencari kerja semakin ketat, untuk itu EVALUATTE. hadir to help you stand out from
                                the crowd!</h1>
                        </div>
                        <div class="col-lg-3 col-12" style="position: relative;">
                            <div>
                                <p>Teguh Priyantono</p>
                                <p>CEO EVALUATTE.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-70">
                        <h2>LAYANAN TERBAIK KAMI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="grow single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="assets/img/icons/cv.webp"/>
                        </div>
                        <div class="cat-cap">
                            <h5 style="font-weight: 600; font-size: 24px;"><a>Konsultasi CV</a></h5>
                            <div class="yellow-disc" style="text-align: left; min-height: 200px; margin-bottom: 20px;">
                                <ul>
                                    <li>Rahasia super CV (99% akan lulus tahap
                                        screening baik ATS maupun
                                    </li>
                                    <li>Pengetahuan tentang CV (With case)</li>
                                    <li>Pengetahuan sistem kerja ATS</li>
                                    <li>Template super CVs</li>
                                    <li>Kesempatan direkrut langsung oleh HRD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="grow single-cat text-center mb-50">
                        <div class="cat-icon">
                            <img src="assets/img/icons/interview.webp"/>
                        </div>
                        <div class="cat-cap">
                            <h5 style="font-weight: 600; font-size: 24px;"><a>Konsultasi Interview</a></h5>
                            <div style="text-align: left; min-height: 200px; margin-bottom: 20px;">
                                <ul>
                                    <li>Rahasia teknik Interview dengan hrd (99% akan lulus tahap
                                        wawancara)
                                    </li>
                                    <li>Pengetahuan tentang Interview</li>
                                    <li>Latihan wawancara langsung dengan HRD Ternama</li>
                                    <li>Menambah relasi baru dengan HRD</li>
                                    <li>Kesempatan direkrut langsung oleh HRD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">

                </div>
                <div class="col-lg-3 col-12">
                    <div class="f-right">
                        <a href="" class="btn hero-btn" style="color: black;">Layanan
                            Lainnya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area section-padding30" style="background: black;">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-70">
                        <h2 style="color: #FFFFFF">DAFTAR KONSULTAN</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="grow single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/consultant/merina.webp" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a>Merina Anindita</a></h3>
                            <span style="color: black;">Sr. Talent Acquisition</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="grow single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/consultant/teguh.webp" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a>Teguh Priyantono</a></h3>
                            <span style="color: black;">Talent Sourcer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="grow single-team mb-30">
                        <div class="team-img">
                            <img src="assets/img/consultant/shofia.webp" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a>Shofia A Hajaraswati</a></h3>
                            <span style="color: black;">Talent Acquisition</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-area testimonial-padding" style="background: #FFFFFF;">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-9">
                    <div class="h1-testimonial-active">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="67px" height="49px">
                                        <path fill-rule="evenodd" fill="rgb(252, 236, 68)"
                                              d="M57.053,48.209 L42.790,48.209 L52.299,29.242 L38.036,29.242 L38.036,0.790 L66.562,0.790 L66.562,29.242 L57.053,48.209 ZM4.755,48.209 L14.263,29.242 L0.000,29.242 L0.000,0.790 L28.527,0.790 L28.527,29.242 L19.018,48.209 L4.755,48.209 Z"/>
                                    </svg>
                                    <p style="color: black;">“Dulu saya tidak mengerti bagaimana cara membuat CV yang
                                        baik dan benar, namun setelah mengetahui Evaluatte, saya jadi tahu. Terima kasih
                                        Evaluatte!”</p>
                                </div>

                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="assets/img/users/budi.webp" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span style="color: black">Budi </span>
                                        <p style="color: black;">Fresh Graduate</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="67px" height="49px">
                                        <path fill-rule="evenodd" fill="rgb(252, 236, 68)"
                                              d="M57.053,48.209 L42.790,48.209 L52.299,29.242 L38.036,29.242 L38.036,0.790 L66.562,0.790 L66.562,29.242 L57.053,48.209 ZM4.755,48.209 L14.263,29.242 L0.000,29.242 L0.000,0.790 L28.527,0.790 L28.527,29.242 L19.018,48.209 L4.755,48.209 Z"></path>
                                    </svg>
                                    <p style="color: black;">“Dulu saya tidak mengerti bagaimana cara membuat CV yang
                                        baik dan benar, namun setelah mengetahui Evaluatte, saya jadi tahu. Terima kasih
                                        Evaluatte!”</p>
                                </div>

                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="assets/img/users/mira.webp" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span style="color: black">Mira </span>
                                        <p style="color: black;">Fresh Graduate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-area section-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-4 col-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-logo" style="margin-bottom: 0;">
                                <a href="index.html"><img src="assets/img/logo/logo-white.webp" style="width: 200px;"
                                                          alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Karir Anda dimulai dari sini.</p>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Evaluatte merupakan agensi konsultasi yang hadir sebagai solusi
                                        atas permasalahan yang sering dihadapi oleh para pencari kerja/fresh
                                        graduate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mb-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle mb-5">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Kontak Kami </h4>
                                    <p class="info2">Email : consultant@evaluatte.com</p>
                                    <p class="info2">Phone : 08122987201</p>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Sosial Media Kami </h4>
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Jadwal </h4>
                                    <p class="info2">Buka: Senin - Jumat</p>
                                    <p class="info2">Waktu: 09:00 - 17:00 WIB</p>
                                    <p class="info2">Tutup: Sabtu & Minggu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt" style="color: black;"></i></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/0.6.4/popper.min.js"
        integrity="sha512-3ctceduDbI60NdcBKjt8Bkt/Ca1mfDYVr675Nl7GIzLI6CfVdY87/qLrOgaADqf0TvoZCKaVSV2TYM7MisSLEg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha512-n6dYFOG599s4/mGlA6E+YLgtg9uPTOMDUb0IprSMDYVLr0ctiRryPEQ8gpM4DCMlx7M2G3CK+ZcaoOoJolzdCg=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"
        integrity="sha512-FmCXNJaXWw1fc3G8zO3WdwR2N23YTWDFDTM3uretxVIbZ7lvnjHkciW4zy6JGvnrgjkcNEk8UNtdGTLs2GExAw=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
        integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
        integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"
        integrity="sha512-QABeEm/oYtKZVyaO8mQQjePTPplrV8qoT7PrwHDJCBLqZl5UmuPi3APEcWwtTNOiH24psax69XPQtEo5dAkGcA=="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
        integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
        crossorigin="anonymous"></script>

<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>-->
</body>
</html>
