{% load static %}
<footer>
    <div class="footer-area section-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-4 col-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-logo" style="margin-bottom: 0;">
                                <a href="/">
                                    <img src="{% static 'img/logo/logo-white.webp' %}" style="width: 200px;"
                                         alt="">
                                </a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Karir Anda dimulai dari sini.</p>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">Evaluatte merupakan agensi konsultasi yang hadir sebagai solusi
                                        atas permasalahan yang sering dihadapi oleh para pencari kerja/fresh
                                        graduate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 mb-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle mb-5">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Kontak Kami </h4>
                                    <p class="info2">Email : consultant@evaluatte.com</p>
                                    <p class="info2">Phone : 08122987201</p>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Sosial Media Kami </h4>
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <h4 style="margin-bottom: 10px;">Jadwal </h4>
                                    <p class="info2">Buka: Senin - Jumat</p>
                                    <p class="info2">Waktu: 09:00 - 17:00 WIB</p>
                                    <p class="info2">Tutup: Sabtu & Minggu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
