{% load static %}
<header>
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom header-sticky">
                <div class="container" style="max-width: 90%;">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-5">
                            <div class="menu-wrapper d-flex align-items-center">

                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul class="navigation">
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="/">Tentang</a></li>
                                            <li><a href="/">Layanan</a></li>
                                            <li><a href="/">Konsultan</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'img/logo/logo-white.webp' %}"
                                         style="width: 200px; display: block; margin: auto;"
                                         alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-5 col-lg-5">
                            <div class="menu-wrapper d-flex align-items-center flex-row-reverse">

                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul class="navigation">
                                            <li><a href="/">Testimoni</a></li>
                                            <li><a href="/">Inspirasi</a></li>
                                            <li><a href="/">Karir</a></li>
                                            <li><a href="/">Subscribe</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
