{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        .about-section {
            background: #FFFFFF;
            padding: 5% 0 5% 0;
        }

        .about-section-body {
            margin: 0 0 10% 0;
        }

        .center-container {
            position: relative;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        #about-logo {
            max-width: 300px;
            display: block;
            margin: auto;
        }

        #about-desc {
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 5%;
            margin: 0;
        }

        @media (max-width: 575px) {
            #about-desc {
                font-size: 14px;
            }

            #about-logo {
                max-width: 100px;
            }
        }

        .team-member-card {
            background-color: #fcec44;
            height: 264px;
            max-width: 100%;
        }

        .team-member-card img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 100%;
        }

        .team-member-card h1 {
            position: absolute;
            top: 100%;
            letter-spacing: 0;
            color: rgb(40, 40, 88);
            margin-top: 10px;
            font-size: 26px;
            font-weight: 600;
        }

        .team-member-card p {
            position: absolute;
            top: 115%;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1.5px;
            color: rgb(31, 31, 68);
        }
    </style>
    <div class="about-section"
         style="background: url('{% static 'img/backgrounds/about-us.webp' %}');">
        <div class="container">
            <div class="row about-section-body">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2 style="color: #FFFFFF;">TENTANG KAMI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 center-container" style="background-color: #bdbdbd78;">
                    <img id="about-logo" src="{% static 'img/logo/logo-white.webp' %}"
                         class="center" alt="">
                </div>
                <div class="col-6">
                    <h4 id="about-desc">Evaluatte
                        merupakan
                        agensi konsultasi
                        yang hadir sebagai solusi
                        atas permasalahan yang sering dihadapi oleh para pencari kerja/fresh
                        graduate.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="about-section"
         style="background: url('{% static 'img/backgrounds/vision.webp' %}');">
        <div class="container">
            <div class="row about-section-body">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2>VISI</h2>
                    </div>
                </div>
                <div class="col-4" style="margin: 112px 0 0 0; border-left: 6px solid yellow;">
                    <h4 style="color: black;">Membantu mengatasi permasalahan para job seekers serta mengurangi tingkat
                        pengangguran di Indonesia.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="about-section"
         style="background: url('{% static 'img/backgrounds/mission.webp' %}');">
        <div class="container">
            <div class="row about-section-body">
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <div class="section-tittle">
                        <h2 style="color: black;">MISI</h2>
                    </div>
                </div>
                <div class="col-8">
                </div>
                <div class="col-4" style="margin: 112px 0 0 0; border-left: 6px solid yellow;">
                    <ol>
                        <li>Menyediakan konsultan terpercaya</li>
                        <li>Menyediakan aplikasi yang mudah digunakan sebagai penyalur antara job seekers dengan
                            konsultan
                        </li>
                        <li>Memenuhi ekspektasi para job seekers</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div id="about-our-team" class="about-section">
        <div class="container">
            <div id="our-team-title" class="row about-section-body">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2>TIM KAMI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for team_member in team_members %}
                    <div class="col-12 col-lg-3" style="margin-bottom: 200px;">
                        <div class="team-member-card">
                            <img src="{{ team_member.profile_image }}" alt="" class="person"/>
                            <h1>{{ team_member.full_name }}</h1>
                            <p>{{ team_member.position }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}