{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about_info_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3>Why our Consulting?</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.
                            It esteems luckily or picture placing drawing. Apartments frequently or motionless on
                            reasonable.</p>
                        <a href="#" class="boxed-btn3">About Us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="img/service/about.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="counter_area counter_bg_1 overlay_03">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/group.svg" alt="">
                        </div>
                        <h3><span class="counter">200</span> <span> +</span></h3>
                        <p>Team Members</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/cart.svg" alt="">
                        </div>
                        <h3><span class="counter">97</span> <span>%</span></h3>
                        <p>Business Success</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/heart.svg" alt="">
                        </div>
                        <h3><span class="counter">5628</span></h3>
                        <p>Happy Client</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/respect.svg" alt="">
                        </div>
                        <h3><span class="counter">5637</span></h3>
                        <p>Business Done</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service_area minus_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>What we Do?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>Marketing & SEO Agency</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>Startup Agency</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Corporate Business</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/4.svg" alt="">
                        </div>
                        <h3>Finance Solution</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/5.svg" alt="">
                        </div>
                        <h3>Food & Restaurant</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/6.svg" alt="">
                        </div>
                        <h3>Travel Agency </h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team_area minus_padding">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-40 text-center">
                            <h3>
                                Expert Team
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/3.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Milani Mou</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/2.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Jasmine Pinky</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single_team">
                            <div class="team_thumb">
                                <img src="img/team/1.png" alt="">
                            </div>
                            <div class="team_info text-center">
                                <h3>Piya Zosoldos</h3>
                                <p>Photographer</p>
                                <div class="social_link">
                                    <ul>
                                        <li><a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        </li>
                                        <li><a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_form_quote">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="form_wrap">
                        <h3>Get Free Quote</h3>
                        <form action="#">
                            <input type="text" placeholder="Your Name">
                            <input type="email" placeholder="Email">
                            <textarea name="#" id="" cols="30" rows="10" placeholder="Message"></textarea>
                            <button class="boxed-btn3">Send</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="contact_thumb">
                        <img src="img/banner/contact_thumb.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>For Any Information Call Us</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        <a class="boxed-btn3" href="#">+10 673 763 6786</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}