{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <div class="slider-area2 mb-70">
        <div class="slider-height2 hero-overly2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>KARIR</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70" style="display: flex;">
                    <h2 style="font-weight: lighter; max-width: 100%; margin-right: 10px;">LIFE AT </h2>
                    <h2>EVALUATTE</h2>
                </div>
            </div>
        </div>
        <div class="row mb-70">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="
                        border-left: 4px yellow solid;
                        margin: 50px 0 50px 0;
                    ">
                    <p style="text-align: justify; margin-left: 20px;">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="display: flex">
                    <img style="margin: auto;" src="https://dummyimage.com/400x400/000000/fff&text=Evaluatte"
                         alt="Evaluatte Logo">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-area2 mb-70">
        <div class="slider-height2 hero-overly2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-area2 mb-70">
        <div class="slider-height2 hero-overly2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div style="display: flex">
                            <img style="margin: auto;" src="https://dummyimage.com/400x400/000000/fff&text=Evaluatte"
                                 alt="Evaluatte Logo">
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <p>Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70" style="display: flex;">
                    <h2 style="font-weight: lighter; max-width: 100%; margin-right: 10px;">WE ARE </h2>
                    <h2>HIRING</h2>
                </div>
            </div>
        </div>
        <div class="row mb-70">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="
                        border-left: 4px yellow solid;
                        margin: 50px 0 50px 0;
                    ">
                    <p style="text-align: justify; margin-left: 20px;">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div style="display: flex">
                    <img style="margin: auto;" src="https://dummyimage.com/400x400/000000/fff&text=Evaluatte"
                         alt="Evaluatte Logo">
                </div>
            </div>
        </div>
        <table>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr>
                <td>Digital Strategy Associate</td>
                <td>Bekasi</td>
                <td>View</td>
            </tr>
        </table>
    </div>
{% endblock %}