{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        #consultants-root {
            background: #FFFFFF;
        }
    </style>
    <div id="consultants-root">
        <div class="team-area section-padding30" style="background: black;">
            <div class="container">
                <div class="row">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <div class="section-tittle mb-70">
                            <h2 style="color: #FFFFFF">DAFTAR KONSULTAN</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for consultant in page_obj %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                            <div class="grow single-team mb-30">
                                <div class="team-img">
                                    <img src="{{ consultant.profile_image }}" alt="">
                                </div>
                                <div class="team-caption">
                                    <h3><a>{{ consultant.full_name }}</a></h3>
                                    <span style="color: black;">{{ consultant.role }} at {{ consultant.company }}</span>
                                    <span style="color: black;">{{ consultant.year_of_experience }} Tahun</span>
                                    <div class="f-right">
                                        <a href="/consultants" class="btn hero-btn" style="color: black;">Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                                           aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="page-item">
                                    <a class="page-link"> {{ page_obj.number }}
                                        / {{ page_obj.paginator.num_pages }}
                                    </a>
                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}" class="page-link"
                                           aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}