{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style>
        @media (max-width: 576px) {
            .bradcam_area {
                background-position: center left -36em !important;
            }
        }
    </style>

    <div class="bradcam_area overlay2" style="
        background: url('https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/header+kontak+kami+-+new-min.png');
        background-size: cover;
    ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Bekasi, Indonesia.</h3>
                            <p>JL. Kodau, PERUM KODAU V Blok K-12 No.3, RT 003 RW 002, Jatiasih, Kel. Jatimekar, Kec.
                                Jatiasih, Kota Bekasi, Jawa Barat 17422</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3><a href="https://wa.wizard.id/9441e5">+62 813-1673-5289</a></h3>
                            <p>Merry - Sales</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3><a href="https://wa.wizard.id/b2ae3a">+62 821-2289-2469</a></h3>
                            <p>Brandon - Sales</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>
                                <a href="mailto:teguh@evaluatte.com"><span>teguh@evaluatte.com</span></a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15863.04017043368!2d106.9391397!3d-6.295233!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6f59a01a8fe3d1f!2sPerumahan%20TNI%20AU%20Kodau%20V%20Ambarapura!5e0!3m2!1sen!2sid!4v1613270319659!5m2!1sen!2sid"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}