{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <style>
        @media (max-width: 576px) {
            .slider_bg_1 {
                background-position: center left -60em !important;
            }

            .slider_bg_2 {
                background-position: center left -26em !important;
            }
        }
    </style>

    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center slider_bg_1 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>Karir anda<br>
                                    dimulai dari sini</h3>
                                <div class="video_service_btn">
                                    <a href="{% url 'services' %}" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center slider_bg_2 overlay2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>kami membantu mengurangi <br> jumlah pengangguran di Indonesia!</h3>
                                <div class="video_service_btn">
                                    <a href="{% url 'services' %}" class="boxed-btn3">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="case_study_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-40">
                            <h3>Layanan Kami</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="case_active owl-carousel">
                            {% for product in products %}
                                <div class="single_case">
                                    <div class="case_thumb">
                                        <img src="https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/layanan+kami+-+cv-min.png"
                                             alt="">
                                    </div>
                                    <div class="case_heading">
                                        <span>Layanan #{{ forloop.counter }}</span>
                                        <h3>
                                            <a href="{% url 'service' slug=product.slug %}">{{ product.name }}</a>
                                        </h3>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="more_close_btn text-center">
                            <a href="{% url 'services' %}" class="boxed-btn3-line">Layanan Lainnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/stats.html' %}

    <div class="about_info_area" style="margin-top: 100px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3>Mengapa Evaluatte?</h3>
                        <p>Di Evaluatte kamu akan bisa konsultasi cv & interview secara langsung dengan talent
                            acquisition
                            dari berbagai perusahaan ternama di Indonesia lho!
                        </p>
                        <div style="
                            font-size: 15px;
                            font-weight: 400;
                            color: #727272;
                            margin-bottom: 24px;
                            margin-top: 10px;
                        ">
                            <ul class="unordered-list about_text">
                                <li>Konsultan kami adalah seorang recruiter di berbagai perusahaan</li>
                                <li>Waktu dan tempat konsultasi fleksibel</li>
                                <li>Jaminan pemahaman Kualifikasi CV</li>
                                <li>Jaminan pemahaman Teknik interview yang tepat</li>
                                <li>Harga terjangkau</li>
                                <li>Kesempatan direkrut langsung oleh konsultan!</li>
                            </ul>
                        </div>
                        <a href="{% url 'about' %}" class="boxed-btn3">About Us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iM39Ltycw7Q"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial_area overlay ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                <div class="quote">
                                    <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                                </div>
                                <p>Tidak bisa dipungkiri bahwa persaingan mencari kerja semakin ketat, <br> and
                                    evaluatte
                                    help you to stand out from the crowd!
                                </p>
                                <div class="testmonial_author">
                                    <div class="thumb">
                                        <img src="https://i.ibb.co/kq2Bt33/Foto-4.jpg"
                                             style="width: 40px; border-radius: 100%;" alt="">
                                    </div>
                                    <h3>Teguh priyantono</h3>
                                    <span>Founder & CEO Evaluatte</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="case_study_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-40 text-center">
                            <h3>
                                Konsultan Kami
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="case_active owl-carousel">
                            {% for consultant in consultants %}
                                <div class="single_case">
                                    <div class="case_thumb">
                                        <img src="{{ consultant.profile_image.url }}" alt="">
                                    </div>
                                    <div class="case_heading" style="padding: 20px;">
                                        <h3>{{ consultant.full_name }}</h3>
                                        <p>{{ consultant.role }} at {{ consultant.company.name }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="more_close_btn text-center">
                            <a href="{% url 'consultants' type='all' %}" class="boxed-btn3-line">Konsultan Lainnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="accordion_thumb">
                        <img src="https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/FAQ-min.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="faq_ask">
                        <h3>Frequently ask</h3>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Apakah Evaluatte itu jasa joki cv?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion"
                                     style="">
                                    <div class="card-body">Bukan! Disini kami membantu user kami untuk memahami
                                        kualifikasi
                                        cv mereka dan apa saja yang perlu ditingkatkan dalam cv mereka serta bagaimana
                                        cara
                                        penulisan cv agar lulus tahap screening!
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                            Apa itu konsultasi CV?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                     data-parent="#accordion"
                                     style="">
                                    <div class="card-body">Dengan konsultasi cv bersama evaluatte kamu tidak hanya
                                        sekedar mendapatkan review cv, tapi kamu juga akan tau kualifikasi cv dan cara
                                        mengembangkan value cv kamu sesuai dengan rekomendasi konsultan kami!
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            Apa itu talent acquisition?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion" style="">
                                    <div class="card-body">
                                        Jadi, HR itu banyak divisinya! Dan Talent Acquisition adalah seorang HR yang
                                        berfokus mengurusi proses rekrutmen perusahaan! So, pastikan kamu berkonsultasi
                                        soal cv & interview dengan seorang Talent Acquisition ya! Bukan dengan seorang
                                        "HR" aja hehe :)
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="false"
                                                aria-controls="collapseFour">
                                            Apa keuntungan yang didapatkan?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                     data-parent="#accordion" style="">
                                    <div class="card-body">Banyak banget! Intinya disini kamu udah gabakalan galau lagi
                                        deh
                                        soal kemana kamu harus melanjutkan karir! Karena konsultan kami akan
                                        merekomendasikan kemana kamu harus melamar pekerjaan sesuai dengan kualifikasi
                                        cv
                                        kamu!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/contact.html' %}
{% endblock %}
