{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Consulting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/ev.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<header>
    <div class="header-area ">
        <div class="header-top_area d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5 ">
                        <div class="header_left">
                            <p>Welcome to Conbusi consulting service</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="header_right d-flex">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> <span class="__cf_email__"
                                                                                          data-cfemail="472e292128072328242a22236924282a">[email&#160;protected]</span></a>
                                    </li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 1601-609 6780</a></li>
                                </ul>
                            </div>
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">Beranda</a></li>
                                        <li><a href="/">Tentang</a></li>
                                        <li><a href="/">Layanan</a></li>
                                        <li><a href="/">Konsultan</a></li>
                                        <li><a href="/">Testimoni</a></li>
                                        <li><a href="/">Blog</a></li>
                                        <li><a href="/">Kontak</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a href="#">Get a Quote</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Karir anda<br>
                                dimulai dari sini</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>kami membantu mengurangi <br> jumlah pengangguran di Indonesia!</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="case_study_area">
    <div class="container">
        <div class="border_bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-40">
                        <h3>Layanan Kami</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="case_active owl-carousel">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/1.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span>Layanan #1</span>
                                <h3><a href="#">Konsultasi CV</a></h3>
                            </div>
                        </div>
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/2.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span>Layanan #2</span>
                                <h3><a href="#">Konsultasi Interview</a></h3>
                            </div>
                        </div>
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/3.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span>Layanan #3</span>
                                <h3><a href="#">Webinar</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_close_btn text-center">
                        <a href="#" class="boxed-btn3-line">Layanan Lainnya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="counter_area counter_bg_1 overlay_03">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/group.svg' %}" alt="">

                    </div>
                    <h3><span class="counter">200</span> <span> +</span></h3>
                    <p>Konsultan terdaftar</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/cart.svg' %}" alt="">
                    </div>
                    <h3><span class="counter">97</span> <span>%</span></h3>
                    <p>Variasi perusahaan konsultan</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/heart.svg' %}" alt="">
                    </div>
                    <h3><span class="counter">5628</span></h3>
                    <p>User telah puas</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="{% static 'img/svg_icon/respect.svg' %}g" alt="">
                    </div>
                    <h3><span class="counter">5637</span></h3>
                    <p>Rata - rata rating dari user kami</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_info_area" style="margin-top: 100px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_text">
                    <h3>Mengapa Evaluatte?</h3>
                    <p>Di Evaluatte kamu akan bisa konsultasi cv & interview secara langsung dengan talent acquisition
                        dari berbagai perusahaan ternama di Indonesia lho!
                    </p>
                    <div style="
                        font-size: 15px;
                        font-weight: 400;
                        color: #727272;
                        margin-bottom: 24px;
                        margin-top: 10px;
                    ">
                        <ul class="unordered-list about_text">
                            <li>Konsultan kami adalah seorang recruiter di berbagai perusahaan</li>
                            <li>Waktu dan tempat konsultasi fleksibel</li>
                            <li>Jaminan pemahaman Kualifikasi CV</li>
                            <li>Jaminan pemahaman Teknik interview yang tepat</li>
                            <li>Harga terjangkau</li>
                            <li>Kesempatan direkrut langsung oleh konsultan!</li>
                        </ul>
                    </div>
                    <a href="#" class="boxed-btn3">About Us</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fuys5fWCxJM" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial_area overlay ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial text-center">
                            <div class="quote">
                                <img src="{% static 'img/svg_icon/quote.svg' %}" alt="">
                            </div>
                            <p>Tidak bisa dipungkiri bahwa persaingan mencari kerja semakin ketat, <br> and evaluatte
                                help you to stand out from the crowd!
                            </p>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="{% static 'img/case/testmonial.png' %}" alt="">
                                </div>
                                <h3>Teguh priyantono</h3>
                                <span>Founder & CEO Evaluatte</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team_area">
    <div class="container">
        <div class="border_bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-40 text-center">
                        <h3>
                            Konsultan Kami
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/3.png' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Milani Mou</h3>
                            <p>Photographer</p>
                            <div class="social_link">
                                <ul>
                                    <li><a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/3.png' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Milani Mou</h3>
                            <p>Photographer</p>
                            <div class="social_link">
                                <ul>
                                    <li><a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_team">
                        <div class="team_thumb">
                            <img src="{% static 'img/team/3.png' %}" alt="">
                        </div>
                        <div class="team_info text-center">
                            <h3>Milani Mou</h3>
                            <p>Photographer</p>
                            <div class="social_link">
                                <ul>
                                    <li><a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="accordion_thumb">
                    <img src="{% static 'img/banner/accordion.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="faq_ask">
                    <h3>Frequently ask</h3>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        Apakah Evaluatte itu jasa joki cv?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                                 style="">
                                <div class="card-body">Bukan! Disini kami membantu user kami untuk memahami kualifikasi
                                    cv mereka dan apa saja yang perlu ditingkatkan dalam cv mereka serta bagaimana cara
                                    penulisan cv agar lulus tahap screening!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        Apa itu konsultasi CV?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion"
                                 style="">
                                <div class="card-body">Beda! Disini kamu tidak hanya sekedar mendapatkan review cv, tapi
                                    kamu juga akan tau kualifikasi cv dan cara mengembangkan value cv kamu sesuai dengan
                                    rekomendasi konsultan kami!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Apa keuntungan yang didapatkan?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordion" style="">
                                <div class="card-body">Banyak banget! Intinya disini kamu udah gabakalan galau lagi deh
                                    soal kemana kamu harus melanjutkan karir! Karena konsultan kami akan
                                    merekomendasikan kemana kamu harus melamar pekerjaan sesuai dengan kualifikasi cv
                                    kamu!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Information_area overlay">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8">
                <div class="info_text text-center">
                    <h3>Hubungi Kami</h3>
                    <p>Tanyakan dan sampaikan semua pertanyaan dan keluhan kamu disini!</p>
                    <a class="boxed-btn3" href="#">+62 888 8888 9999</a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static 'img/footer_logo.png' %}" alt="">
                            </a>
                        </div>
                        <p>
                            <a href="#"><span class="__cf_email__"
                                              data-cfemail="93f0fcfdf1e6e0fad3e0e6e3e3fce1e7bdf0fcfe">[email&#160;protected]</span></a>
                            <br>
                            +10 873 672 6782 <br>
                            600/D, Green road, NewYork
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul>
                            <li><a href="#">Marketing & SEO</a></li>
                            <li><a href="#"> Startup</a></li>
                            <li><a href="#">Finance solution</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Travel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Useful Links
                        </h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#"> Contact</a></li>
                            <li><a href="#">Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Subscribe
                        </h3>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit">Subscribe</button>
                        </form>
                        <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                            luckily.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">

                        Copyright &copy;<script data-cfasync="false"
                                                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/scrollIt.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>

<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-23581568-13');-->
<!--</script>-->
</body>
</html>
