{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        #inspiration-root {
            background: #FFFFFF;
            margin: 5% 0 5% 0;
        }

        #inspiration-title {
            margin: 0 0 5% 0;
        }

        .blog-img-cap {
            box-shadow: 5px 10px #fcec44;
        }
    </style>
    <div id="inspiration-root" class="home-blog-area">
        <div class="container">
            <div id="inspiration-title" class="row">
                <div class="col-lg-12">
                    <div class="section-tittle">
                        <h2>INSPIRASI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{% static 'img/banners/reduce.webp' %}" alt="">
                                <ul>
                                    <li>By Admin - October 27, 2020</li>
                                </ul>
                            </div>
                            <div class="blog-cap">
                                <h3><a href="blog_details.html">16 Easy Ideas to Use in Everyday</a></h3>
                                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magnua Quis ipsum suspendisse ultrices gra.</p>
                                <a href="blog_details.html" class="more-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{% static 'img/banners/reduce.webp' %}" alt="">
                                <ul>
                                    <li>By Admin - October 27, 2020</li>
                                </ul>
                            </div>
                            <div class="blog-cap">
                                <h3><a href="blog_details.html">16 Easy Ideas to Use in Everyday</a></h3>
                                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magnua Quis ipsum suspendisse ultrices gra.</p>
                                <a href="blog_details.html" class="more-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}