{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <div class="bradcam_area" style="
        background: url('https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/header+layanan+kami+-+new-min.png') center;
        background-size: cover;
    ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3 style="
                            max-width: fit-content;
                            background: #6c757d6e;
                        ">Layanan Kami</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="case_study_area">
        <div class="container">
            <div class="border_bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-40">
                            <h3>Layanan Kami</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="case_active owl-carousel">
                            <div class="single_case">
                                <div class="case_thumb">
                                    <img src="https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/layanan+kami+-+cv-min.png" alt="">
                                </div>
                                <div class="case_heading">
                                    <span>Layanan #1</span>
                                    <h3><a href="{% url 'service_resume' %}">Konsultasi CV</a></h3>
                                </div>
                            </div>
                            <div class="single_case">
                                <div class="case_thumb">
                                    <img src="https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/layanan+kami+-+interview-min.png" alt="">
                                </div>
                                <div class="case_heading">
                                    <span>Layanan #2</span>
                                    <h3><a href="{% url 'service_interview' %}">Konsultasi Interview</a></h3>
                                </div>
                            </div>
                            <div class="single_case">
                                <div class="case_thumb">
                                    <img src="https://evaluatte-assets.s3-ap-southeast-1.amazonaws.com/layanan+kami+-+webinar-min.png" alt="">
                                </div>
                                <div class="case_heading">
                                    <span>Layanan #3</span>
                                    <h3><a href="{% url 'service_webinar' %}">Webinar</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}