{% extends "components/base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

        #testimonials-root {
            background: #FFFFFF;
            margin: 5% 0 5% 0;
        }

        figure.testimonial {
            font-family: 'Raleway', Arial, sans-serif;
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            max-width: 100%;
            width: 100%;
            color: #333;
            text-align: left;
            box-shadow: none !important;
        }

        figure.testimonial * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        figure.testimonial img {
            max-width: 100%;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-bottom: 15px;
            display: inline-block;
            z-index: 1;
            position: relative;
        }

        figure.testimonial blockquote {
            display: block;
            border-radius: 8px;
            position: relative;
            background-color: #fafafa;
            padding: 30px 50px 65px 50px;
            font-size: 0.8em;
            font-weight: 500;
            margin: 0 0 -50px;
            line-height: 1.6em;
            box-shadow: 0 0 5px #fcec44;
        }

        figure.testimonial blockquote:before,
        figure.testimonial blockquote:after {
            font-family: 'FontAwesome';
            content: "\201C";
            position: absolute;
            font-size: 50px;
            opacity: 0.3;
            font-style: normal;
        }

        figure.testimonial blockquote:before {
            top: 35px;
            left: 20px;
        }

        figure.testimonial blockquote:after {
            content: "\201D";
            right: 20px;
            bottom: 35px;
        }

        figure.testimonial .author {
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            color: #ffffff;
        }

        figure.testimonial .author h5 {
            opacity: 0.8;
            margin: 0;
            font-weight: 800;
            color: black;
        }

        figure.testimonial .author h5 span {
            font-weight: 400;
            text-transform: none;
            display: block;
        }
    </style>

    <div class="bradcam_area" style="
        background: url('https://i.ibb.co/0JKLTjg/header-testimonial.png');
    ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3 style="
                                max-width: fit-content;
                                background: #6c757d6e;
                        ">Testimonials</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="testimonials-root" class="home-blog-area">
        <div class="container">
            {% for testimonial in testimonials_page %}
                <div class="row d-flex flex-row-reverse" style="margin-bottom: 20px; border-bottom: 2px yellow solid;">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <img style="max-width: 100%;" src="{{ testimonial.testimony_proof }}"
                             alt="{{ testimonial.testimony }}">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <figure class="testimonial">
                            <blockquote>
                                {{ testimonial.testimony }}
                            </blockquote>
                            <div class="author">
                                <img src="{{ testimonial.client.profile_image }}"
                                     alt="sq-sample1"/>
                                <h5>{{ testimonial.client.full_name }} <span> {{ testimonial.client.title }}</span></h5>
                            </div>
                        </figure>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if testimonials_page.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ testimonials_page.previous_page_number }}" class="page-link"
                                       aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}

                            <li class="page-item">
                                <a class="page-link"> {{ testimonials_page.number }}
                                    / {{ testimonials_page.paginator.num_pages }}
                                </a>
                            </li>

                            {% if testimonials_page.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ testimonials_page.next_page_number }}" class="page-link"
                                       aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}